
body {
  background-color: powderblue;
  margin: 0;
}

#headerspan { 
  position: relative;
  opacity: 1.0;
  background-image: url("media/pacers-running-into-forrest-wide-light2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
}

#currentSeasonDetails { 
  position: relative;
  opacity: 1.0;
  background-color: purple;
  padding-top: 20px;
}

#currentSeasonDetails table { 
  width: 100%;
  padding-bottom: 30px;
}

#currentSeasonDetails td { 
  width: 50%;
  vertical-align: top;
}

#currentSeasonDetails h2 { 
  color: white;
  font-size: 35pt;
  text-align: center;
}

#currentSeasonDetails p { 
  color: white;
  font-size: 24pt;
  text-align: center;
}

#headerspan h1 {
  color: purple;
  font-size: 40pt;
  text-align: center;
}

#headerspan td {
  padding-left: 40px;
}

#sectionWhite { 
  position: relative;
  opacity: 1.0;
  background-color: white;
  padding-top: 00px;
  padding-bottom: 20px;
}

#sectionWhite p { 
  color: purple;
  font-size: 18pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

#sectionWhite li { 
  color: purple;
  font-size: 12pt;
  padding-left: 10pt;
  padding-right: 20pt;
}

#sectionWhite h2 { 
  color: purple;
  text-align: center;
  font-size: 35pt;
  padding-top: 0.83em;
  margin-block-start: 0em;
  margin-top: 0em;
}

#sectionPurple { 
  position: relative;
  opacity: 1.0;
  background-color: purple;
  padding-top: 00px;
  padding-bottom: 20px;
}

#sectionPurple p { 
  color: white;
  font-size: 18pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

#sectionPurple h2 { 
  color: white;
  text-align: center;
  font-size: 35pt;
  padding-top: 0.83em;
  margin-block-start: 0em;
  margin-top: 0em;
}

#history { 
  position: relative;
  opacity: 1.0;
}

