
:root {
    --purple-color: rgb(124, 62, 146);
    --body-font-family: PT Sans Narrow, Arial, sans-serif;
    --header-font-family: PT Sans, Arial, sans-serif;
}

body {
  background-color: var(--purple-color);
  margin: 0;
  font-family: var(--body-font-family);
  font-size: 100%;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h1, h2 {
  font-family: var(--header-font-family);
}

.historyImageFullWidth {
  object-fit: cover;		      
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.historyImageFullWidthFlex {
  object-fit: cover;		      
  max-width: 100%;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image2grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image4grid {
  display: grid;
  grid-template-columns: 1.5fr 3fr 0.9fr 3fr;
}

#headerspan { 
  position: relative;
  background-image: url("media/pacers-running-into-forrest-wide-light2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 40px;
}

#headerspan h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#currentSeasonDetails { 
  position: relative;
  background-color: var(--purple-color);
  padding-top: 20px;
}

#currentSeasonDetails table { 
  width: 100%;
  padding-bottom: 30px;
}

#currentSeasonDetails td { 
  width: 50%;
  vertical-align: top;
}

#currentSeasonDetails h2 { 
  color: white;
  text-align: center;
}

#currentSeasonDetails p { 
  color: white;
  font-size: 2em;
  text-align: center;
}

#currentSeasonDetails a { 
  color: white;
}

#moveWarning {
  padding-left: 10%;
  padding-right: 10%;
}

#headerspan h1 {
  color: var(--purple-color);
  text-align: center;
}

#headerspan td {
  padding-left: 40px;
}

#whiteHeading {
  background-image: url("media/PacerTeamPhotoLight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#whiteHeading h2 { 
  color: var(--purple-color);
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-block-start: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

#whiteHeading2 {
  background-color: white; 
}

#whiteHeading2 h2 { 
  color: var(--purple-color);
  text-align: center;
  padding-top: 0.83em;
  padding-bottom: 0.83em;
  margin-block-start: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

#sectionWhite { 
  position: relative;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#sectionWhite p { 
  color: var(--purple-color);
  font-size: 18pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

#sectionWhite li { 
  color: var(--purple-color);
  font-size: 12pt;
  padding-left: 10pt;
  padding-right: 20pt;
}

#sectionPurple { 
  position: relative;
  background-color: var(--purple-color);
  padding-top: 00px;
  padding-bottom: 20px;
}

#sectionPurple p { 
  color: white;
  font-size: 18pt;
  padding-left: 20pt;
  padding-right: 20pt;
}

#sectionPurple h2 { 
  color: white;
  text-align: center;
  padding-top: 0.83em;
  margin-block-start: 0em;
  margin-top: 0em;
}

#history { 
  position: relative;
  background-color: white;
}

#history table {
  background-color: white;
}

#purpleHeader { 
  position: relative;
  background-color: var(--purple-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

#purpleHeader h2 { 
  color: white;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-block-start: 0em;
  margin-top: 0em;
  margin-bottom: 0em;
}

